body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

#navbar, #footer {
  background-color: #004d40;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}
